.product-card-image {
    width: 472px;
    height: 173px;
    object-fit: contain;
}
.custom-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-align {
  display: flex;
  align-items: center;
}

.fa-gold {
  color: #f3c600 !important;
}

.emoji-img {
  width: 25px;
  height: auto;
  margin-right: 8px;
}
.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}