.product-card-image{
  height: 250px;
  width: auto;
}
.banner-logo-image {
    width: 472px;
    height: 173px;
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-align {
  display: flex;
  align-items: center;
}

.fa-gold {
  color: #f3c600 !important;
}
.emoji-img-wrapper {
  display: inline-flex;
  align-items: center;
}
.emoji-img {
  height: 25px !important;
  width: 25px !important;
}