.product-card-image {
  display: block;
  height: 250px;
  width: auto;    
  object-fit: contain;  
}


.banner-logo-image {
    width: 472px;
    height: 173px;
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-align {
  display: flex;
  align-items: center;
}

.fa-gold {
  color: #f3c600 !important;
}
.emoji-img {
  height: 25px !important;
  width: 25px !important;
  float: left;
  margin-right: 8px !important; 
}

/* .emoji-img-wrapper {
  overflow: auto;
  display: block!important;
} */
